/* 
With some additions, the rules above the line of asterisks below come from Josh W. Comeau's recommended CSS reset/customization. See https://courses.joshwcomeau.com/css-for-js/treasure-trove/010-global-styles. (Accessible only to course subscribers.) 
*/

/* Setting -webkit-font-smoothing to antialiased improves font smoothing on MacOS */
*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

/* Overrides any browser defaults regarding box layout. Sets line height to recommended accessibility guidelines. */
* {
    margin: 0;
    outline: 0;
    border: 0;
    padding: 0;
    line-height: 1.5;
}

/* Makes it possible to size child elements by percentage */
html,
body {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block; /* Displays media as block rather than inline elements */
    max-width: 100%; /* Keeps large images from overflowing */
}

/* Makes form controls inherit font styling from parent elements */
input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}

/* 
****************************
*/
